@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z16slj');
  src:  url('fonts/icomoon.eot?z16slj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z16slj') format('truetype'),
    url('fonts/icomoon.woff?z16slj') format('woff'),
    url('fonts/icomoon.svg?z16slj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rose-heart:before {
  content: "\e902";
  color: #fbb7ca;
}
.icon-language-selector:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e900";
  color: #fbb7ca;
}
