@import '_vars.scss';
@import '_mixins.scss';
@import '_base.scss';

.error {
    flex: 1;
    display: flex;
    flex-direction: column;

    .wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__content {
        margin: auto 0;

        h1 {
            text-align: center;
            font-size: 130px;
            margin-bottom: 0;

            @include breakpoint(min, $large) {
                font-size: 200px;
            }

            span {
                background: linear-gradient(90deg, rgba($second-color, .3), rgba($second-color, .3)) 0 77px/100% 20% repeat-x;
        
                @include breakpoint(min, $large) {
                    background: linear-gradient(90deg, rgba($second-color, .3), rgba($second-color, .3)) 0 120px/100% 20% repeat-x;
                }
            }

            small {
                font-size: 75%;
            }
        }

        p {
            text-align: center;
            color: $main-color;
            font-weight: bold;
            font-size: 18px;
            line-height: 116.66%;
            margin-bottom: 24px;
        
            @include breakpoint(min, $large) {
                font-size: 24px;
                margin-bottom: 32px;
            }
        }

        a {
            margin: 0 auto;
        }
    }
}