.article {
    position: relative;
    padding: 24px 0;
    border-top: 1px solid $bg-color;

    @include breakpoint(min, $medium) {
        display: flex;
    }

    @include breakpoint(min, $large) {
        padding: 32px 0;
    }

    &:first-of-type {
        padding-top: 0;
        border-top: 0;
    }

    &__image {
        display: block;
        margin-bottom: 16px;
        background-color: $bg-color;
        
        @include breakpoint(min, $medium) {
            width: 42%;
            margin-bottom: 0;
            margin-right: 24px;
        }

		&--project {
			@include breakpoint(min, $medium) {
				max-height: 188px;
			}
		}

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
			object-position: top left;
        }
    }

    &__text-container {
        @include breakpoint(min, $medium) {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }

    &__categories {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 16px;
        color: #ccc;

        a {
            display: inline;
            color: #777;
            transition: .4s;

            @include hover {
                color: $second-color;
            }
        }
    }

    &__title, &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    
    &__title {
        text-align: left;
        font-size: 24px;
        margin: 0 0 16px 0;
        max-height: 56px;
        -webkit-line-clamp: 2;

        a {
            transition: .4s;
        }

        @include hover {
            a {
                color: $second-color;
            }
        }
    }

    &__text {
        max-height: 48px;
        -webkit-line-clamp: 2;
        margin-bottom: 15px;

        @include breakpoint(min, $large) {
            max-height: 72px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 0;

		p, a {
			line-height: 1;
		}
    }

    &__date {
        font-size: 14px;
    }

    &__button {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: $second-color;
        transition: .4s;

        i {
            margin-left: 8px;
            transition: .4s;
        }

        @include hover {
            i {
                transform: translateX(5px);
            }
        }
    }

    &--min {
        display: flex;
        padding: 16px 0;

        .article__image {
            width: 40%;
            max-width: 200px;
            margin-bottom: 0;
            margin-right: 16px !important;

            @include breakpoint(min, $large) {
                width: 45%;
				max-height: 70px;
            }
        }

		.article__text-container {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.article__categories {
			margin-bottom: 8px;
		}

        h4 {
			font-size: 16px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			max-height: 38px;
			-webkit-line-clamp: 2;

            a {
                transition: .4s;

                @include hover {
                    color: $second-color;
                }
            }
        }
    }
}

.alm-reveal {
    .article {
        padding: 24px 0 !important;
        border-top: 1px solid $bg-color !important;
    
        @include breakpoint(min, $large) {
            padding: 32px 0 !important;
        }
    }
}