* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: $main-text-color;
    font-feature-settings: 'pnum' on,'lnum' on;

    &.no-scroll {
        overflow: hidden;

        @include breakpoint(min, $large) {
            overflow: visible !important;
        }
    }

    @include breakpoint(min, $large) {
        font-size: 16px;
    }
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

section {
    padding: 32px 0;

    @include breakpoint(min, $medium) {
        padding: 48px 0;
    }

    @include breakpoint(min, $large) {
        padding: 64px 0;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: calc(1128px + 64px);    
    padding: 0 16px;
    margin: 0 auto;

    @include breakpoint(min, $large) {
        padding: 0 32px;
    }
}

.text-container {
    p {
        margin-top: 8px;

        @include breakpoint(min, $large) {
            margin-top: 12px;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }
}

h1, .h1-title, h2, h3, h4 {
    color: $main-color;
}

h1, .h1-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 116.66%;
    margin-bottom: 24px;

    @include breakpoint(min, $large) {
        font-size: 48px;
        margin-bottom: 32px;
    }

    span {
        background: linear-gradient(90deg, rgba($second-color, .3), rgba($second-color, .3)) 0 27px/100% 8px repeat-x;

        @include breakpoint(min, $large) {
            background: linear-gradient(90deg, rgba($second-color, .3), rgba($second-color, .3)) 0 32px/100% 10px repeat-x;
        }
    }
}

h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 116.66%;
    margin-bottom: 24px;

    @include breakpoint(min, $large) {
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }

    span {
        background: linear-gradient(90deg, rgba($second-color, .3), rgba($second-color, .3)) 0 21px/100% 7px repeat-x;

        @include breakpoint(min, $large) {
            background: linear-gradient(90deg, rgba($second-color, .3), rgba($second-color, .3)) 0 27px/100% 9px repeat-x;
        }
    }
}

h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 116.66%;
    margin-bottom: 16px;

    @include breakpoint(min, $large) {
        font-size: 24px;
    }
}

h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 116.66%;

    @include breakpoint(min, $large) {
        font-size: 18px;
    }
}

.btn {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 16px;
    font-weight: bold;
    font-size: 16px;
    transition: .4s;
    cursor: pointer;

    @include breakpoint(min, $large) {
        font-size: 18px;
        margin: 0 auto;
        padding: 16px 24px;
    }

    &:first-letter {
        text-transform: uppercase;
    }

    &.btn-main {
        color: $second-text-color;
        background: $second-color;

        @include hover {
            color: $second-color;
            background: $second-text-color;
            box-shadow: inset 0 0 0 2px $second-color;
        }
    }

    &.btn-second {
        color: $second-color;
        background: $second-text-color;
        box-shadow: inset 0 0 0 2px $second-color;
        
        @include hover {
            color: $second-text-color;
            background: $second-color;
        }
    }
}

button {
    outline: none;
    border: 0;
    cursor: pointer;
}

img, a, button, i, svg {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

//breadcrumbs
.breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @include breakpoint(min, $medium) {
        margin-bottom: 24px;
    }

    @include breakpoint(min, $large) {
        margin-bottom: 32px;
    }

    &.tag-breadcrumbs {
        .breadcrumb_last {
            &:before {
                content: '#';
            }
        }
    }

    .home {
        path {
            transition: .4s;
        }
        
        @include hover {
            path {
                fill: #C70C0E;
            }
        }
    }

    span {
        font-style: normal;
        font-weight: normal;
        padding-left: 20px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
            width: 4px;
            height: 6px;
            background-image: url('../../assets/images/breadcrumbs-arrow.svg');
        }

        a {
            display: inline;
            transition: .4s;

            @include hover {
                color: #C70C0E;
            }
        }
    }

    #breadcrumbs {
        display: flex;
        align-items: center;

        & > span {
            padding-left: 0;

            &:before {
                display: none;
            }
        }
    }
}

//swiper
.swiper-pagination {
	position: relative !important;
	display: flex !important;
	align-items: center;
	width: fit-content !important;
    bottom: 0 !important;
    margin-top: 24px;
    z-index: 2;

    @include breakpoint(min, $large) {
        position: absolute !important;
        left: 0;
    }

	&-bullet {
        display: flex !important;
        align-items: center;
        justify-content: center;
		width: 12px !important;
		height: 12px !important;
		background: rgba($color: $second-color, $alpha: .4) !important;
		margin-right: 16px !important;
		opacity: 1 !important;
		outline: none !important;

        &:after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transition: .4s;
        }

        &:last-of-type {
            margin-right: 0 !important;
        }

		&-active {
			&:after {
                background: $second-color;
            }
		}
	}
}

//AOS
@include breakpoint(max, $medium) {
	[data-aos-delay] {
		transition-delay: 0s !important;
	}
}