.blog-sidebar {
    width: 100%;
    padding-top: 24px;

    @include breakpoint(min, $large) {
        padding-top: 0;
    }

    .categories, .tags {
        padding: 24px 0;
        border-top: 1px solid $bg-color;

        @include breakpoint(min, $large) {
            border-top: 0;
            border-bottom: 1px solid $bg-color;
        }

        @include breakpoint(min, $xlarge) {
            padding: 32px 0;
        }

        &:first-of-type {
            @include breakpoint(min, $large) {
                padding-top: 0;
            }
        }

        &:last-of-type {
            border-bottom: none;
            padding-bottom: 0;
        }

        ul {
            list-style: none;

            li {
                a {
                    width: fit-content;
                    color: $main-color;
                }
                
                &.current-menu-item {
                    a {
                        color: $second-color;
                    }
                }
            }
        }
    }

    .categories {
        ul {
            li {
                margin-bottom: 16px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &.current_page_item, &.current-menu-item  {
                    a {
                        color: $second-color;
                    }
                }

                a {
                    text-decoration: none;
                    font-weight: bold;
                    transition: .4s;

                    @include hover {
                        color: $second-color;
                    }
                }
            }
        }

        i:after {
            background: url('../../assets/images/categories.svg');
        }
    }

    .tags {
        padding-bottom: 16px;

        @include breakpoint(min, $large) {
            padding-bottom: 40px;
        }

        i:after {
            background: url('../../assets/images/tags.svg');
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-top: -8px;

            li {
                margin-top: 8px;
                margin-right: 8px;

                a {
                    display: block;
                    text-decoration: none;
                    padding: 16px;
                    background: $bg-color;
                    border-radius: 30px;
                    font-weight: bold;
                    transition: .4s;

                    &:before {
                        content: '#';
                    }
    
                    @include breakpoint(min, $large) {
                        padding: 10px 20px;
                    }
    
                    @include hover {
                        color: $second-color;
                    }
                }
            }
        }
    }

    .title {
        display: flex;
        align-items: center;
        color: $main-color;
        margin-bottom: 16px;

        @include breakpoint(min, $large) {
            margin-bottom: 24px;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            margin-right: 8px;
            border-radius: 50%;
            background: $bg-color;
            position: relative;

            &:after {
                content: '';
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        h3 {
            margin-bottom: 0;
        }
    }
}