$font_src: '../fonts/';

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-MediumItalic/Raleway-MediumItalic.eot');
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
        url('#{$font_src}Raleway-MediumItalic/Raleway-MediumItalic.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-MediumItalic/Raleway-MediumItalic.woff2')
            format('woff2'),
        url('#{$font_src}Raleway-MediumItalic/Raleway-MediumItalic.woff')
            format('woff'),
        url('#{$font_src}Raleway-MediumItalic/Raleway-MediumItalic.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-MediumItalic/Raleway-MediumItalic.svg#Raleway-MediumItalic')
            format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-LightItalic/Raleway-LightItalic.eot');
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
        url('#{$font_src}Raleway-LightItalic/Raleway-LightItalic.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-LightItalic/Raleway-LightItalic.woff2')
            format('woff2'),
        url('#{$font_src}Raleway-LightItalic/Raleway-LightItalic.woff')
            format('woff'),
        url('#{$font_src}Raleway-LightItalic/Raleway-LightItalic.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-LightItalic/Raleway-LightItalic.svg#Raleway-LightItalic')
            format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-Medium/Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('#{$font_src}Raleway-Medium/Raleway-Medium.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-Medium/Raleway-Medium.woff2') format('woff2'),
        url('#{$font_src}Raleway-Medium/Raleway-Medium.woff') format('woff'),
        url('#{$font_src}Raleway-Medium/Raleway-Medium.ttf') format('truetype'),
        url('#{$font_src}Raleway-Medium/Raleway-Medium.svg#Raleway-Medium')
            format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-Light/Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
        url('#{$font_src}Raleway-Light/Raleway-Light.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-Light/Raleway-Light.woff2') format('woff2'),
        url('#{$font_src}Raleway-Light/Raleway-Light.woff') format('woff'),
        url('#{$font_src}Raleway-Light/Raleway-Light.ttf') format('truetype'),
        url('#{$font_src}Raleway-Light/Raleway-Light.svg#Raleway-Light')
            format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-Regular/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
        url('#{$font_src}Raleway-Regular/Raleway-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
        url('#{$font_src}Raleway-Regular/Raleway-Regular.woff') format('woff'),
        url('#{$font_src}Raleway-Regular/Raleway-Regular.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-Regular/Raleway-Regular.svg#Raleway-Regular')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-Bold/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('#{$font_src}Raleway-Bold/Raleway-Bold.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
        url('#{$font_src}Raleway-Bold/Raleway-Bold.woff') format('woff'),
        url('#{$font_src}Raleway-Bold/Raleway-Bold.ttf') format('truetype'),
        url('#{$font_src}Raleway-Bold/Raleway-Bold.svg#Raleway-Bold')
            format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-BlackItalic/Raleway-BlackItalic.eot');
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
        url('#{$font_src}Raleway-BlackItalic/Raleway-BlackItalic.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-BlackItalic/Raleway-BlackItalic.woff2')
            format('woff2'),
        url('#{$font_src}Raleway-BlackItalic/Raleway-BlackItalic.woff')
            format('woff'),
        url('#{$font_src}Raleway-BlackItalic/Raleway-BlackItalic.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-BlackItalic/Raleway-BlackItalic.svg#Raleway-BlackItalic')
            format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-Black/Raleway-Black.eot');
    src: local('Raleway Black'), local('Raleway-Black'),
        url('#{$font_src}Raleway-Black/Raleway-Black.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-Black/Raleway-Black.woff2') format('woff2'),
        url('#{$font_src}Raleway-Black/Raleway-Black.woff') format('woff'),
        url('#{$font_src}Raleway-Black/Raleway-Black.ttf') format('truetype'),
        url('#{$font_src}Raleway-Black/Raleway-Black.svg#Raleway-Black')
            format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-BoldItalic/Raleway-BoldItalic.eot');
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
        url('#{$font_src}Raleway-BoldItalic/Raleway-BoldItalic.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-BoldItalic/Raleway-BoldItalic.woff2')
            format('woff2'),
        url('#{$font_src}Raleway-BoldItalic/Raleway-BoldItalic.woff')
            format('woff'),
        url('#{$font_src}Raleway-BoldItalic/Raleway-BoldItalic.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-BoldItalic/Raleway-BoldItalic.svg#Raleway-BoldItalic')
            format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-SemiBold/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('#{$font_src}Raleway-SemiBold/Raleway-SemiBold.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-SemiBold/Raleway-SemiBold.woff2')
            format('woff2'),
        url('#{$font_src}Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
        url('#{$font_src}Raleway-SemiBold/Raleway-SemiBold.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-SemiBold/Raleway-SemiBold.svg#Raleway-SemiBold')
            format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-ExtraBold/Raleway-ExtraBold.eot');
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('#{$font_src}Raleway-ExtraBold/Raleway-ExtraBold.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-ExtraBold/Raleway-ExtraBold.woff2')
            format('woff2'),
        url('#{$font_src}Raleway-ExtraBold/Raleway-ExtraBold.woff')
            format('woff'),
        url('#{$font_src}Raleway-ExtraBold/Raleway-ExtraBold.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-ExtraBold/Raleway-ExtraBold.svg#Raleway-ExtraBold')
            format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot');
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
        url('#{$font_src}Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff2')
            format('woff2'),
        url('#{$font_src}Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff')
            format('woff'),
        url('#{$font_src}Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic')
            format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font_src}Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot');
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
        url('#{$font_src}Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot?#iefix')
            format('embedded-opentype'),
        url('#{$font_src}Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff2')
            format('woff2'),
        url('#{$font_src}Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff')
            format('woff'),
        url('#{$font_src}Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.ttf')
            format('truetype'),
        url('#{$font_src}Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic')
            format('svg');
    font-weight: 800;
    font-style: italic;
}
