.footer {
    margin-top: auto;
    margin-bottom: 0;

    .footer-top {
        padding: 24px 0;
        color: $second-text-color;
        background: #121212;
    
        @include breakpoint(min, $medium) {
            padding: 32px 0;
        }
    
        @include breakpoint(min, $large) {
            padding: 48px 0;
    
            .wrapper {
                display: flex;
                justify-content: space-between;
            }
        }
    
        a {
            width: fit-content;
        }
    
        .footer-logo {
            margin: 0 auto 24px auto;
    
            @include breakpoint(min, $large) {
                margin: 0 32px 0 0 ;
            }
    
            @include breakpoint(min, $xlarge) {
                margin-right: 48px;
            }
        }
    
        .menus-wrapper {
            @include breakpoint(min, $medium) {
                flex: 1;
                display: flex;
                justify-content: space-between;
            }
    
            @include breakpoint(min, $large) {
                justify-content: flex-end;
            }
        }
    
        .menu {
            margin-bottom: 24px;
    
            @include breakpoint(min, $medium) {
                margin-bottom: 0;
                margin-right: 24px;
            }
    
            @include breakpoint(min, $large) {
                margin-bottom: 0;
                margin-right: 32px;
            }
    
            @include breakpoint(min, $xlarge) {
                margin-right: 48px;
            }
    
            &__title {
                margin-bottom: 12px;
    
                @include breakpoint(min, $large) {
                    margin-bottom: 16px;
                }
            }
    
            ul {
                li {
                    margin-bottom: 12px;
    
                    @include breakpoint(min, $large) {
                        margin-bottom: 16px;
                    }
    
                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &.current_page_item {                        
                        a {
                            text-decoration-color: $second-text-color;
                        }
                    }
                }
            }
    
            a {
                transition: .3s;
                text-decoration: underline;
                text-decoration-color: transparent;
        
                @include hover {
                    text-decoration-color: $second-text-color;
                }
            }
        }
    
        .contacts {
            &__item {
                display: flex;
                margin-bottom: 12px;
    
                @include breakpoint(min, $large) {
                    margin-bottom: 16px;
                }
    
                &:last-of-type {
                    margin-bottom: 0;
                }
    
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 22px;
                    height: 22px;
                    margin-right: 8px;
    
                    @include breakpoint(min, $large) {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    
        .socials {
            display: flex;
    
            a {
                margin-right: 16px;
                border-radius: 50%;
    
                &:last-of-type {
                    margin-right: 0;
                }
    
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: $second-text-color;
                    border-radius: 50%;
                    transition: .4s;
    
                    svg {
                        width: 20px;
                        height: 20px;
        
                        path {
                            fill: #121212;
                            transition: .4s;
                        }
                    }
                }
    
                @include hover {
                    i {
                        background: $second-color;
                        box-shadow: inset 0 0 0 1px $second-text-color;
    
                        path {
                            fill: $second-text-color;
                        }
                    }
                }
            }
        }
    }
    
    .footer-bottom {
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
        background: $main-color;
        color: $second-text-color;
    
        @include breakpoint(min, $large) {
            .wrapper {
                display: flex;
                justify-content: space-between;
            }
        }
    
        .developed-by {
            a {
                display: inline;
                font-weight: bold;
            }
        }
    }

    .scroll-up {
        position: fixed;
        bottom: 16px;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: $second-text-color;
        box-shadow: $main-shadow;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: scale(.9);
        transition: .4s;

        &.show {
            animation: .5s bounceIn ease-in;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: scale(1);
        }

        @include breakpoint(min, $large) {
            bottom: 32px;
            right: 32px;
            width: 60px;
            height: 60px;
        }

        svg {
            width: 24px;

            @include breakpoint(min, $large) {
                width: 28px;
            }

            path {
                transition: .4s;
            }
        }

        @include hover {
            path {
                fill: $second-color;
                transform: translateY(-5px);
            }
        }
    }
}

@keyframes bounceIn {
    0% { 
       opacity: 0; 
       transform: scale(.9);
    }

    50% { 
       opacity: 1;
       transform: scale(1.05);
    }

    70% {
       transform: scale(.9);
    }
    
    100% {
       transform: scale(1);
    }
 } 