.header {
    padding-top: 16px;
    z-index: 100;
    
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .header-logo {
        width: 115px;
        height: 89px;
        z-index: 3;

        @include breakpoint(min, $large) {
            width: 150px;
            height: 116px;
        }

		img {
			width: 100%;
		}
    }

    .header-menu {
        @include breakpoint(max, $large) {
            position: fixed;
            top: 0;
            left: 100%;
            width: 100vw;
            padding: 180px 16px 140px 16px;
            background: $second-text-color;
            box-shadow: $main-shadow;
            overflow: hidden;
            transition: .5s;
            z-index: 2;

            &:after {
                content: '';
                position: absolute;
                width: calc(100% + 10px);
                height: 2px;
                bottom: 24px;
                left: -10px;
                background-image: url('../../assets/images/mobile-menu-line.svg');
                background-repeat: repeat-x;
            }

            &.active {
                left: 0;
            }
        }

        @include breakpoint(min, $large) {
            display: flex;
            align-items: center;
        }

        ul {
            @include breakpoint(min, $large) {
                display: flex;
                margin-right: 64px;
            }
    
            li {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 24px;
    
                @include breakpoint(min, $large) {
                    margin-right: 24px;
                    margin-bottom: 0;
    
                    &:last-of-type {
                        margin-right: 0;
                    }
                }

                &.current_page_item {
                    a {
                        text-decoration-color: $main-color;
                    }
                }
    
                a {
                    color: $main-color;
                    text-decoration: underline;
                    text-decoration-color: transparent;
                    transition: .4s;
    
                    @include hover {
                        text-decoration-color: $main-color;
                    }
                }
            }
        }
    }

    .header-btn {
        margin: 0;
    }

    .burger {
		position: relative;
		width: 32px;
		height: 25px;
		background: none;
		border: none;
		outline: none;
		z-index: 3;
		cursor: pointer;

		@include breakpoint(min, $large) {
			display: none;
		}

		&__item {
			position: absolute;
			right: 0;
			width: 100%;
			height: 3px;
			background: $main-color;
			transition: 0.5s;

			&--1 {
				top: 0;
			}

			&--2 {
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
			}

			&--3 {
				top: calc(100% - 3px);
			}
		}

		&.active {
			.burger__item--1 {
				top: 50%;
				transform: translateY(-50%) rotate(405deg);
			}

			.burger__item--2 {
				opacity: 0;
			}

			.burger__item--3 {
				top: 50%;
				transform: translateY(-50%) rotate(-405deg);
			}
		}
	}

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background: rgba($color: #fff, $alpha: 0.2);
        backdrop-filter: blur(7px);
        opacity: 0;
        transition: opacity 0.5s;
        transform: translateX(-100%);
        
		&.active {
			transform: translateX(0);
            opacity: 1;
		}

		@include breakpoint(min, $large) {
			display: none !important;
		}
	}
}