$small: 560px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;

@mixin breakpoint($direction, $breakpoint-value) {
    @if $direction == max {
        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }
    }

    @else if $direction == min {
        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

@mixin isTouch {
    @media (hover: none) {
        @content;
    }
}
  
@mixin isNotTouch {
    @media (hover), (min-width: 0\0) {
        @content;
    }
}
  
@mixin hover {
    @include isNotTouch {
        &:hover {
            @content;
        }
    }
}