@import '_vars.scss';
@import '_mixins.scss';
@import '_base.scss';
@import '_article.scss';
@import '_blog-sidebar.scss';

.blog {
    .wrapper {
        @include breakpoint(min, $large) {
            display: flex;
        }
    }

    &--left {
        @include breakpoint(min, $large) {
            flex: 1;
            padding-right: 32px;
            border-right: 1px solid $bg-color;
        }
    }

    &--right {  
        @include breakpoint(min, $large) {
            width: 300px;
            height: fit-content;
            padding-left: 32px;
        }
    }

    .alm-btn-wrap {
        padding: 0 !important;
        margin: 16px 0 0 0 !important;

        .alm-load-more-btn {
            display: flex !important;
            align-items: center;
            width: fit-content;
            padding: 16px !important;
            margin: 0 auto;
            font-weight: bold;
            font-size: 16px !important;
            color: $second-text-color !important;
            background: $second-color !important;
            border-radius: 0 !important;
            transition: .4s;
            
            @include hover {
                color: $second-color !important;
                background: $second-text-color !important;
                box-shadow: inset 0 0 0 2px $second-color;
            }
        
            @include breakpoint(min, $large) {
                font-size: 18px;
                margin: 0 auto;
                padding: 16px 24px;
            }

            &.done {
                color: $second-text-color !important;
                background: $second-color !important;
				
				&:before {
					display: none !important;
				}
            }

            &:before {
                position: relative !important;
                margin: 0 8px 0 0 !important;
                border-radius: 0 !important;
            }
        }
    }
}