@import '_vars.scss';
@import '_mixins.scss';
@import '_base.scss';

.contact {
    &__content {
        max-width: 768px;
        margin: 0 auto;
    }

    h1 {
        @include breakpoint(min, $medium) {
            text-align: center;
        }
    }

    .form-wrapper {
        position: relative;
    
        .form-container {
            transition: .4s;
    
            &.sent {
                opacity: 0;
                visibility: hidden;
            }
    
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 24px;
                background: #fff;
                box-shadow: $main-shadow;
    
                @include breakpoint(min, $large) {
                    padding: 32px;
                }

                .hint {
                    display: block;
                    width: 100%;
                    text-align: right;
                    font-size: 12px;
                }
    
                label,
                input,
                textarea {
                    display: block;
                }
    
                input,
                textarea {
                    width: 100%;
                    border: none;
                    outline: none;
                    background: $bg-color;
                    padding: 12px 16px;
                    color: $main-text-color;
                    font-size: 14px;
    
                    &::placeholder {
                        color: rgba($main-text-color, 0.5);
                    }
    
                    @include breakpoint(min, $large) {
                        font-size: 16px;
                    }
                }
    
                label {
                    width: 100%;
                    margin-bottom: 16px;
                    position: relative;

                    @include breakpoint(min, $medium) {
                        width: calc(50% - 8px);
                    }
    
                    @include breakpoint(min, $large) {
                        width: calc(50% - 12px);
                        margin-bottom: 24px;
                    }

                    &:last-of-type {
                        width: 100%;
                        margin-bottom: 0;
                    }
    
                    span {
                        font-weight: 600;
                        color: $main-color;
                        margin-bottom: 4px;
                    }
    
                    textarea {
                        height: 200px;
                        resize: vertical;
                    }
                }
    
                .mailfailed-error {
                    display: none;
                    font-size: 12px;
                    line-height: 175%;
                    color: #E50027;
                    margin-top: 16px;
    
                    &.show {
                        display: block;
                    }
    
                    @include breakpoint(min, $large) {
                        font-size: 14px;
                        margin-top: 24px;
                    }
                }
    
                button {
                    margin: 0 auto;
                    margin-top: 24px;
    
                    @include breakpoint(min, $large) {
                        margin-top: 32px;
                    }
                }
            }
        }
    
        .success {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 24px;
            margin: 0 auto;
            background: #FFFFFF;
            transition: opacity visibility .4s;
            box-shadow: $main-shadow;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: -1;

            @include breakpoint(min, $medium) {
                padding: 48px;
            }
    
            @include breakpoint(min, $large) {
                padding: 64px;
                // top: 50%;
                // transform: translateY(-50%);
            }
    
            &.sent {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
    
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 24px;
            }
    
            span {
                display: block;
                text-align: center;
                color: $main-color;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}

//error-message
.wpcf7-not-valid-tip {
    font-size: 10px !important;
    font-weight: normal !important;
    color: rgb(219, 68, 55) !important;
    margin-bottom: 0 !important;

    @include breakpoint(min, $large) {
        font-size: 12px !important;
    }
}

.wpcf7-response-output {
    display: none !important;
}

.wpcf7-validation-errors {
    display: none !important;
}

div.wpcf7 .ajax-loader {
    display: none !important;
}

.wpcf7-not-valid {
    box-shadow: inset 0 0 0 1px #E50027;
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


#map {
    height: 360px;

    @media screen and (min-width: 1024px) {
        height: 425px;
    }
} 