@import '_vars.scss';
@import '_mixins.scss';
@import '_base.scss';

.banner {
    .main-slider {
        position: relative;

        &__item {
            height: auto;
            
            @include breakpoint(min, $large) {
                display: flex;
                justify-content: space-between;
            }
        }

        &__text-container {
            @include breakpoint(min, $large) {
                flex: 1;
                max-width: 552px;
                padding-bottom: 42px;
                margin-right: 32px;
            }
        }

        &__text {
            font-weight: 500;
            margin-bottom: 24px;

            @include breakpoint(min, $large) {
                margin-bottom: 32px;
            }
        }

        &__button {
            @include breakpoint(min, $large) {
                margin: 0;
            }
        }
    
        &__image {
            display: none;

            @include breakpoint(min, $large) {
                position: relative;
                display: flex;
				align-items: center;
                width: 500px;
            }

			img {
				width: 100%;
				height: auto;
			}
        } 
    }
}

.registration {
    position: relative;
    padding: 32px 0;
    overflow: hidden;

    @include breakpoint(min, $large) {
        padding: 50px 0;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 100%;
        background: rgba($color: $main-color, $alpha: .65);
        backdrop-filter: blur(2px);
        z-index: -1;
    }

    &__text {
        color: $second-text-color;
        margin-bottom: 24px;

        @include breakpoint(min, $large) {
            max-width: 552px;
            text-align: center;
            margin: 0 auto 32px auto;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: -2;
    }

    .btn {
        box-shadow: none !important;
    }
}

.news {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    margin-bottom: 24px;

    @include breakpoint(min, $large) {
        margin-bottom: 32px;
    }

    .article {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 24px;
        overflow: hidden;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include breakpoint(min, $medium) {
            width: calc(33.333% - 11px);
			margin-right: 16px;
            margin-bottom: 0;
        }

        @include breakpoint(min, $large) {
            width: calc(33.333% - 21px);
			margin-right: 31px;
        }

		&:last-of-type {
			margin-right: 0 !important;
		}

        &__image {
            position: relative;
            display: block;
            width: 100%;
            height: 200px;
            overflow: hidden;
            background-color: $bg-color;

            @include breakpoint(min, $large) {
              height: 250px;
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                object-position: center;
            }
        }

        &__text-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 16px;
            border: 1px solid $bg-color;
            border-top: none;

            @include breakpoint(min, $large) {
                padding: 24px;
            }
        }

        &__categories {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 16px;
            color: #ccc;

            a {
                display: inline;
                color: #777;
                transition: .4s;

                @include hover {
                    color: $second-color;
                }
            }
        }

        &__title, &__text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }

        &__title {
            max-height: 47px;
            -webkit-line-clamp: 2;

            @include breakpoint(min, $large) {
                max-height: 55px;
            }

            a {
                transition: .4s;

                @include hover {
                    color: $second-color;
                }
            }
        }

        &__text {
            max-height: 63px;
            -webkit-line-clamp: 3;
            margin-bottom: 16px;

            @include breakpoint(min, $large) {
                max-height: 72px;
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: auto;
            margin-bottom: 0;

			p, a {
				line-height: 1;
			}
        }

        &__date {
            font-size: 14px;
        }

        &__button {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: $second-color;
            transition: .4s;

            i {
                margin-left: 8px;
                transition: .4s;
            }

            @include hover {
                i {
                    transform: translateX(5px);
                }
            }
        }
    }
}

.video {
    background: $bg-color;

    .video-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 52.2%;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.learning {
    &__content {
        @include breakpoint(min, $large) {
            display: flex;
            align-items: center;
        }
    }

    &__text-container {
        @include breakpoint(min, $large) {
            flex: 1;
            margin-right: 32px;
        }
    }

    &__image {
        display: none;

        @include breakpoint(min, $large) {
            display: block;
            width: 300px;
            height: auto;
        }
    }
}

.information {
    background: $bg-color;

    &__photo {
        width: 100%;
        max-width: 350px;
        margin: 0 auto 24px auto;
        border: 16px solid #FFF;
        box-shadow: $main-shadow;

        @include breakpoint(min, $large) {
            float: left;
            margin: 0 20px 20px 0;
        }
    }
}

.organizators {
    display: flex;
    flex-wrap: wrap;
    margin: -16px -8px 0 -8px;

    @include breakpoint(min, $large) {
        margin: -32px -16px 0 -16px;
        justify-content: center;
    }

    .organizator {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 8px;
        margin-top: 16px;

        @include breakpoint(min, $small) {
            width: 50%;
        }

        @include breakpoint(min, $large) {
            display: block;
            text-align: center;
            width: 33.333%;
            padding: 0 16px;
            margin-top: 32px;
        }

        @include breakpoint(min, $xlarge) {
            width: 25%;
        }

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-right: 16px;

            @include breakpoint(min, $large) {
                margin-bottom: 16px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        p:first-of-type {
            margin-bottom: 8px;
        }
    }
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -8px;

    @include breakpoint(min, $large) {
        margin-top: -16px;
    }

    .sponsor {
        max-width: 200px;
        margin: 8px;

        @include breakpoint(min, $large) {
            margin: 16px;
            max-width: calc(20% - 32px);
        }

        img {
            max-width: 100%;
            max-height: 140px;
        }
    }
}