@import '_vars.scss';
@import '_mixins.scss';
@import '_base.scss';
@import '_article.scss';

.post {
    .wrapper {
        @include breakpoint(min, $large) {
            display: flex;
        }
    }

    &--left {
        margin-bottom: 32px;
        border-bottom: 1px solid #ECECEC;

        @include breakpoint(min, $large) {
            flex: 1;
            padding-right: 32px;
            margin-bottom: 0;
            border-right: 1px solid $bg-color;
            border-bottom: none;
        }
    }

    &--right {  
        @include breakpoint(min, $large) {
            width: 300px;
            height: fit-content;
            padding-left: 32px;
        }
    }
    
    &__thumbnail {
        margin-bottom: 24px;

        @include breakpoint(min, $large) {
            margin-bottom: 32px;
        }
    }

    &__main-info {
        p {
            margin-bottom: 10px;
        }
    }

    &__share {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        @include breakpoint(min, $large) {
            display: block;
            margin-bottom: 32px;
        }

        p {
            margin-right: 8px;

            @include breakpoint(min, $large) {
                margin-bottom: 4px;
            }
        }

        &_socials {
            display: flex;

            .mobile-share {
                @include isNotTouch {
                    display: none;
                }
            }
    
            .desktop-share {
                @include isTouch {
                    display: none;
                }
            }
    
            a, button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                margin-right: 8px;
                background: $second-color;
                border-radius: 50%;
                transition: .4s;

                @include breakpoint(min, $large) {
                    width: 40px;
                    height: 40px;
                    margin-right: 16px;
                }
    
                @include hover {
                    background: $main-color;
                }
    
                svg {
                    width: 16px;
                    height: 16px;

                    @include breakpoint(min, $large) {
                        width: 20px;
                        height: 20px;
                    }
    
                    path {
                        fill: $second-text-color;
                    }
                }
            }
        }
    }

    &__content {
        p {
            margin-top: 12px;

            @include breakpoint(min, $large) {
                margin-top: 16px;
            }
        }
        
        h2 {
            text-align: left;
            margin-bottom: 0;
            margin: 24px 0;
        
            @include breakpoint(min, $large) {
                margin: 32px 0;
            }
        }
        
        h3 {
            margin: 16px 0;

            @include breakpoint(min, $large) {
                margin: 24px 0;
            }
        }
        
        h4 {
            margin: 16px 0;
        }

		a {
			display: inline;
			text-decoration: underline;
			text-decoration-color: $main-text-color;
			transition: .2s;

			&:hover {
				text-decoration-color: transparent;
			}
		}
        
        ul {
            margin: 16px 0;

            @include breakpoint(min, $large) {
                margin: 24px 0;
            }
        
            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 12px;
            
                &::before {
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 8px;
                    height: 8px;
                    background: $second-color;
                    border-radius: 50%;
            
                    @include breakpoint(min, $large) {
                        top: 8px;
                    }
                }
            
                &:last-of-type {
                    margin-bottom: 0;
                }

                ul {
                    margin-top: 12px;
                }
            }
        }

        figure, .wp-block-file {
            margin: 16px 0;
        
            @include breakpoint(min, $large) {
                margin: 24px 0;
            }
        }

        .wp-block-file {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &__embed {
                margin-bottom: 16px;
            }

            a {
                display: flex;
                align-items: center;
                line-height: 21px;
                transition: .4s;
                cursor: pointer !important;

                @include hover {
                    color: $second-color;
                }

                &:before {
                    content: '';
                    width: 18px;
                    height: 21px;
                    background-image: url('../../assets/images/file-download.svg');
                    margin-right: 8px;
                }

                &:after {
                    content: '-';
                    color: $main-text-color !important;
                    margin: 8px;
                }
            }

            &__button {
                font-size: 14px;
                color: $main-color !important;
                text-decoration: underline !important;
                text-decoration-color: $main-color !important;
                padding: 0;
                margin: 0;
                background: none;
                border-radius: 0;
        
                @include hover {
                    text-decoration-color: transparent !important;
                }
            
                @include breakpoint(min, $large) {
                    font-size: 16px;
                }

                &:before, &:after {
                    display: none;
                }
            }
        }

        .is-type-video {
            .wp-block-embed__wrapper {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 52.2%;
                overflow: hidden;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
    }
}

//comments form
.wpd-rating-title {
    color: $main-text-color !important;
    font-size: 14px !important;
    font-weight: 600;
}

#wpdcom {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

#comments { 
    margin: 0 !important;
}

.wpd-comment-label {
    background-color: #e90007 !important;
}

.wpd-comment-author a{
    color: #e90007 !important;
}

.wpd-comment-right {
    border-left: 1px solid #d1d1d1 !important;
}

.wpd-vote-up, .wpd-vote-down {
    opacity: 1 !important;
} 

#wpdcom.wpd-layout-3 .wpd-blog-post_author .wpd-comment-subheader {
    border-top: 1px dashed $second-color !important;
}

.wpd-thread-list {
    padding-top: 24px !important;
    padding-bottom: 0 !important;

    @include breakpoint(min, $large) {
        padding-top: 32px !important;
    }
}

.by-wpdiscuz {
    display: none;
}

.wc_comm_submit {
    padding: 7px 20px 1px 20px !important;
}